<header class="masthead">
	<h1 class="masthead-heading">Tweetful</h1>
  	<p class="masthead-intro">Making The Internet a Little More Thoughtful</p>
</header>

<div class="info-container">
	<section class="info">  
	  <header>
	    <h2>About Tweetful</h2>
	  </header>
	  <p>
	  Donec sed odio dui. Nulla vitae elit libero, a pharetra augue. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Maecenas faucibus mollis interdum.
	  </p>
	</section>

	<section class="info">  
	  <header>
	  	<h2>What Makes Us Different
	  </header>
	  <p>
	  	Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellendus, alias itaque commodi similique illum iste, necessitatibus numquam earum a quae amet ex laborum perferendis porro voluptatem obcaecati magni quaerat vitae!
	  </p>
	</section>

	<section class="info">  
	  <header>
	  	<h2>Company History</h2>
	  	<p>
	  		Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quia nam cumque eaque perferendis vero laboriosam. Iure cupiditate, voluptatibus voluptates, nobis blanditiis laborum laudantium, impedit temporibus, recusandae nam dolores rerum consectetur!
	  	</p>
	  </header>
	</section>
</div>
<footer>
	Contact us: <span>admin@tweetful.io</span>
</footer>